@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BookApp</h1>
    <p>The code repo is here: <a href="https://github.com/walbhota" target="_blank">The real J8</a>.</p>
</div>
